@model InExile.Models.GuideViewModel
@using System.Data;

<head>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>

<div class="jumbotron">
    <h1>@Model.Type</h1>
    <p class="lead">View and edit your entries below. To get started, click 'Create Entry'</p>
    <p><a href="/Update/Create?Type=@Model.Type" class="btn btn-primary btn-lg">Create Entry &raquo;</a></p>
</div>

<style media="screen" type="text/css">
    table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
    }
</style>


@{

    if (Model.Type == "NPCs")
    {
        foreach (DataRow row in Model.Table.Rows)
        {
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="thumbnail">
                        <img src="@row["Image"]" alt="...">
                        <div class="caption">
                            <h2>@row["Name"]</h2>
                            <p><h3>Appearance:</h3> @row["Appearance"]</p>
                            <p><h3>Location:</h3> @row["Location"]</p>
                            <p><h3>Additional:</h3> @row["Additional"]</p>
                            <p><a href="@row["Edit"]" class="btn btn-primary" role="button">Edit</a> <a href="@row["Delete"]" class="btn btn-danger" role="button">Delete</a></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        foreach (DataRow row in Model.Table.Rows)
        {
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="thumbnail">
                        <img src="@row["Image"]" alt="...">
                        <div class="caption">
                            <h2>@row["Name"]</h2>
                            <p><h3>Description:</h3> @row["Description"]</p>
                            <p><h3>Additional:</h3> @row["Additional"]</p>
                            <p><a href="@row["Edit"]" class="btn btn-primary" role="button">Edit</a> <a href="@row["Delete"]" class="btn btn-danger" role="button">Delete</a></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
